<% content_for :js do %>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
<% end %>

<div>
  <%= link_to "<- Back to Internetiquette", root_path %>
</div>
<iframe id="try-it-example" src="<%= source_try_it_path(:url => @url) %>" frameBorder="0" width="100%" onload='javascript:resizeIframe(this);'>
</iframe>
