<% content_for :js do %>
  function resizeIframe_and_clean(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    document.getElementById('try-it-example').contentWindow.clean = window.clean;
    document.getElementById('try-it-example').contentWindow.clean();
    $("#island .toggable").toggle();
  }

  function clean() {
    request = new XMLHttpRequest();
    request.open('GET', 'http://internetiquette.herokuapp.com/mappings.json', true);

    request.onload = function() {
      if (request.status >= 200 && request.status < 400){
        // Success!
        window.data = JSON.parse(request.responseText);
        for (bad_phrase in window.data.mappings) {
          console.log("replacing "+ bad_phrase);
          var regex = new RegExp(bad_phrase,"ig");
          findAndReplaceDOMText(document.getElementById('try-it-example').contentDocument.getElementsByTagName("body")[0], {
           find: regex,
           replace: window.data.mappings[bad_phrase].toUpperCase()
          });
        }
      } else {
        // We reached our target server, but it returned an error
        console.log("failure")
      }
    };

    request.onerror = function() {
      // There was a connection error of some sort
    };

    request.send();
  }
<% end %>

<div id="island">
  <span class="toggable" style="display:none">
    <%= link_to "<- Done. Back to Internetiquette", root_path %>
  </span>
  <span class="toggable">
    Loading.....(the preview may mess things up)
  </span>

</div>
<iframe id="try-it-example" src="<%= source_try_it_path(:url => @url) %>" frameBorder="0" height="1000px" width="100%" onload='javascript:resizeIframe_and_clean(this);'>
</iframe>
