/* Colors */

$red: red;
//$red: #ee344c;
$dark-red: #d3203e;
//$green-grey: #66798c;
$green-grey: #43596f;
$off-white: #fbfbfb;
$aqua: #8ebdcd;
$grey: #c9c9c9;

/* Units */

$list-padding: 1.563rem;

@mixin large-text {
  font-size: 1.3425rem;
  font-weight: normal;
}

@font-face {
  font-family: 'Bitter-Regular';
  src: asset-url('Bitter-Regular.ttf') format('truetype');
  src: asset-url("Bitter-Regular.ttf?#iefix") format('truetype');
  // src: url('/assets/HDV_Peace.eot?iefix') format('eot'),
  //      url('/assets/HDV_Peace.woff') format('woff'),
  //      url('/assets/HDV_Peace.ttf') format('truetype'),
  //      url('/assets/HDV_Peace.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter-Italic';
  src: asset-url('Bitter-Regular.ttf') format('truetype');
  src: asset-url("Bitter-Italic.ttf?#iefix") format('truetype');
  // src: url('/assets/HDV_Peace.eot?iefix') format('eot'),
  //      url('/assets/HDV_Peace.woff') format('woff'),
  //      url('/assets/HDV_Peace.ttf') format('truetype'),
  //      url('/assets/HDV_Peace.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

$bitter-regular: 'Bitter-Regular';
$bitter-italic: 'Bitter-Italic';

//LibreBaskerville


@font-face {
  font-family: 'LibreBaskerville-Bold';
  src: asset-url('LibreBaskerville-Bold.ttf') format('truetype');
  src: asset-url("LibreBaskerville-Bold.ttf?#iefix") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: asset-url('LibreBaskerville-Regular.ttf') format('truetype');
  src: asset-url("LibreBaskerville-Regular.ttf?#iefix") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville-Italic';
  src: asset-url('LibreBaskerville-Italic.ttf') format('truetype');
  src: asset-url("LibreBaskerville-Italic.ttf?#iefix") format('truetype');
  font-weight: normal;
  font-style: normal;
}


$librebaskerville-italic: 'LibreBaskerville-Italic';
$librebaskerville-regular: 'LibreBaskerville-Regular';
$librebaskerville-italic: 'LibreBaskerville-Bold';