/* Utility Classes */

.ma0 {
  margin: 0px;
}

.mas {
  margin: 4px;
}

.mam {
  margin: 8px;
}

.mal {
  margin: 16px;
}

.maxl {
  margin: 32px;
}

.mtxs {
  margin-top: 2px;
}

.mt-10 {
  margin-top: -10px;
}

.mts {
  margin-top: 4px;
}

.mtm {
  margin-top: 8px;
}

.mtl {
  margin-top: 16px;
}

.mtxl {
  margin-top: 32px;
}

.mtxxl {
  margin-top: 64px !important;
}

.mrxs {
  margin-right: 2px;
}

.mrs {
  margin-right: 4px;
}

.mrm {
  margin-right: 8px;
}

.mrl {
  margin-right: 16px;
}

.mrxl {
  margin-right: 32px;
}

.mbxs {
  margin-bottom: 2px;
}

.mbs {
  margin-bottom: 4px;
}

.mbm {
  margin-bottom: 8px;
}

.mbl {
  margin-bottom: 16px;
}

.mbxl {
  margin-bottom: 32px;
}

.mbxxl {
  margin-bottom: 64px !important;
}

.mlxs {
  margin-left: 2px;
}

.mls {
  margin-left: 4px;
}

.mlm {
  margin-left: 8px;
}

.mll {
  margin-left: 16px;
}

.mlxl {
  margin-left: 32px;
}

.pa0 {
  padding: 0px;
}

.pas {
  padding: 4px;
}

.pam {
  padding: 8px;
}

.pal {
  padding: 16px;
}

.ptxs {
  padding-top: 2px;
}

.pts {
  padding-top: 4px;
}

.ptm {
  padding-top: 8px;
}

.ptl {
  padding-top: 16px;
}

.ptxl {
  padding-top: 34px;
}

.ptxxl {
  padding-top: 64px;
}

.prs {
  padding-right: 4px;
}

.prm {
  padding-right: 8px;
}

.prl {
  padding-right: 16px;
}

.prxl {
  padding-right: 34px;
}

.prxxl {
  padding-right: 64px;
}

.pbs {
  padding-bottom: 4px;
}

.pbm {
  padding-bottom: 8px;
}

.pbl {
  padding-bottom: 16px;
}

.pls {
  padding-left: 4px;
}

.plm {
  padding-left: 8px;
}

.pll {
  padding-left: 16px;
}

.plxl {
  padding-left: 34px;
}

.plxxl {
  padding-left: 64px;
}

.floatr {
  float: right;
}

.floatl {
  float: left;
}

// .bs {
//   border: 1px solid $light-grey;
// }

// .bts {
//   border-top: 1px solid $light-grey;
// }

// .brs {
//   border-right: 1px solid $light-grey;
// }

// .bbs {
//   border-bottom: 1px solid $light-grey;
// }

// .bls {
//   border-left: 1px solid $light-grey;
// }

// .btd {
//   border-top: 1px dotted $light-grey;
// }

// .brd {
//   border-right: 1px dotted $light-grey;
// }

// .bbd {
//   border-bottom: 1px dotted $light-grey;
// }

// .bld {
//   border-left: 1px dotted $light-grey;
// }

.fsxs {
  //@include xs-text;
}

.fss {
  //@include small-text;
}

.fsm {
  //@include medium-text;
}

.fsl {
  //@include large-text;
}

.fsxl {
  //@include xl-text;
}

.fsxxl {
  //@include xxl-text;
}

.fsj {
  //@include jumbo-text;
}

.ff-fancy {
  //@include ff-fancy;
}

.ff-basic {
  //@include ff-basic;
}

.ff-numerals {
  //@include ff-numerals;
}

.fwl {
  font-weight: 200;
}

.fwn {
  font-weight: 400;
}

.fwb {
  font-weight: 600;
}

// .fcfg {
//   color: $faint-grey;
// }

// .fclg {
//   color: $light-grey;
// }

// .fcmlg {
//   color: $medium-light-grey;
// }

// .fcmg {
//   color: $medium-grey;
// }

// .fcdg {
//   color: $dark-grey;
// }

// .fcr {
//   color: $red;
// }

// .fct {
//   color: $tan;
// }

.bcr {
  // background-color: $red;
}

.fsi {
  font-style: italic;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

.ttu {
  text-transform: uppercase;
}

.tsw {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.bgcb {
  // background-color: $blue;
}

.bgclb {
  // background-color: $light-blue;
}

.vat {
  vertical-align: top;
}

.vam {
  vertical-align: middle;
}

.hidden {
  display: none;
}

.shown {
  display: inherit;
}

.visible {
  visibility: inherit;
}

.invisible {
  visibility: hidden;
}

.bglg {
  // background-color: $light-grey;
}

.line-height-10px {
  line-height: 10px;
}

.no-scrolling {
  overflow: hidden !important;
}
