@import "_mixins";
@import "_utilities";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



span.bad_word_wrapper {
  // color: black;
  // text-decoration: line-through;
  position: relative;

  &:after {
    border-bottom: .2em solid black;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
  }

  span.bad_word_heart {
    color: $red;
  }
}

.bad_phrase {
  text-decoration-color: black;
  color: red;
}


// ==================================

body {
  font-family: $bitter-regular;
  background-color: $off-white;
  font-size: .875em;
  margin: 0;
  padding: 0;
}
/*
div#left-side, div#right-side {
  float: left;
  width: auto;
}
*/
div#wrapper {
  // float: left;
  // width: 76rem;
  width: 100%;
}



div#header {
  border-top: 2px solid $red;
  background-color: $aqua; /* to show its not working */
  background-image: image-url('/assets/aqua_bg.jpg');
  height: 18rem;
  ul#navigation {
    list-style: none;
    clear: both;
    display: block;
    li {
      float: left;
      padding-right: 1rem;
      text-transform: uppercase;
      a {
        color: $off-white;
        text-decoration: none;
      }
    }
  }
  div#title-area {
    width: 50rem;
    margin-top: 4.7rem;
    margin-left: 3rem;
    div#title {
      color: $red;
      font-weight: bold;
      font-size: 2.9rem;
      font-family: $bitter-italic;
    }
    div#tagline {
      color: white;
      font-size: 1.125em;
    }
    a#install-plugin {
      width: 11rem;
      padding: .5rem;
      text-align: center;
      margin-top: 1.8rem;
      font-size: 1.25rem;
      display: block;
      background-color: $red;
      color: $off-white;
      text-transform: uppercase;
      float: right;
      text-decoration: none;
    }
  }
}

h2 {
  @include large-text;
  font-weight: normal;
}




div#body {
  width: 100%;
  margin-bottom: 0;
  margin-left: auto;
  div.row {
    clear: both;
    div.caption {
      margin: 0;
      display: inline-block; 
      float: left;
      width: 15.625em;
      padding-left: 2.563rem;
      padding-right: $list-padding;
    }
    div.other {
      margin: 0;
      // clear: left;
      display: inline-block;
      width: auto;
      overflow: hidden;
      padding-right: $list-padding;
    }
    &.how-it-works {
      height: 15.8rem;
      color: $green-grey;
      div.other {
        .step {
          padding-right: 4em;
          float: left;
          h2 {
            color: red;
          }
        }
      }
    }

    &.contribute {
      background-color: $green-grey;
      height: 7.5rem;
      .caption {
        color: $off-white;
        h2 {
          margin: 3rem 0 0 0;
          padding: 0;
          // top: 40%;
        }
      }
      .other {
        form {
          margin-top: .9rem;
          #submit {
            border: 0;
            color: white;
            margin-left: .55rem;
            font-family: $bitter-regular;
            padding: .25rem;
            text-align: center;
            font-size: 1.3425rem;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $red;
          }
          input[type=text] {
            @include large-text;
            margin: 1.3em 0 0 0;
            width: 19.5rem;
            font-family: $bitter-italic;
            &#mapping_bad_phrase {
              margin-right: $list-padding;
              color: $green-grey;
              text-decoration: line-through;
              text-align: right;
            }
            &#mapping_good_phrase {
              color: $red;
            }
          }
        }
      }
    }

    &.submissions {
      padding-top: 1.5rem;
      .caption {
        h2 {
          margin: 0;
        }
        color: $green-grey;
      }
      .other {
        dl#submissions_list {
          margin: 0;
          width: 42rem;
          dt,dd {
            border-top: 1px solid $grey;
            width: 19.8rem;
            font-family: $bitter-italic;
            margin: 0;
            line-height: 2em;
            // clear: left;
            &:last-of-type {
              border-bottom: 1px solid $grey;
            }
          }
          dt {
            padding-left: 0;
            text-align: right;
            float: left;
            color: $green-grey;
            text-decoration: line-through;
            margin-right: 2rem;
            display: inline-block;
          }
          dd {
            padding-right: 0;
            text-align: left;
            // clear: left;
            color: $red;
            display: inline-block;
          }
        }
      }
    }

    &.buffer {
      height: 4rem;
      background-color: yellow; /* to show its not working */
      background-image: image-url('/assets/happy_pattern.jpg');
      margin-top: 2rem;
    }

    &.about,&.press {
      background-color: $red;
      color: $off-white;
      height: 8rem;
      border-bottom: 2px solid $off-white;
    }

    &.about {
      margin-top: -4px !important;
      .caption {
        h2 {
          margin-top: 2.5rem;
        }
      }
      .other {
        .content {
          width: 42rem;
          margin-top: 3rem;
        }
      }
    }

    &.press {
      margin-top: -2px !important;
    }

  }
}
