@import "_mixins";
@import "_utilities";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



span.bad_word_wrapper {
  // color: $black;
  // text-decoration: line-through;
  position: relative;

  &:after {
    border-bottom: .2em solid $black;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
  }

  span.bad_word_heart {
    color: $red;
  }
}

.bad_phrase {
  text-decoration-color: $black;
  color: red;
}


// Common ==================================

.button {
  @include round_all_corners(4px);
  padding: .4em;// 0 .4em 0;
  background-color: $red;
  color: $off-white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

form {
  margin-top: .9rem;
  .submit {
    @extend .button;
    border: 0;
  }
  input[type=text] {
    //@include large-text;
    font-size: 1em;
    line-height: 1.8em;
    font-family: $librebaskerville-italic;
  }
}


// Common ==================================
body {
  font-family: $librebaskerville-regular;
  background-color: $off-white;
  font-size: .875em;
  margin: 0;
  padding: 0;
  border-top: 5px solid $red;
  color: $black;
}


div#wrapper {
  // float: left;
  width: 64rem;
  margin-left: auto;
  margin-right: auto;
  //width: 100%;
}




div#header {
  height: 14.7rem;
  border-bottom: 1px solid $grey;
  ul#navigation {
    border-bottom: 1px solid $grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: .9em;
    padding-top: .3rem;
    list-style: none;
    clear: both;
    display: block;
    height: 1.9rem;
    li {
      float: left;
      padding-right: 1rem;
      text-transform: capitalize;
      a {
        color: $black;
        text-decoration: none;
      }
    }
  }
  div#title-area {
    width: 57.5rem;
    margin-top: 3.5rem;
    margin-left: 2.6rem;
    div#title {
      font-size: 2.9rem;
      span.text {
        display: inline-block;
        border-bottom: 2px dotted $red;
        height: 1em;
        // -moz-border-image: url(http://www.w3.org/TR/css3-background/border.png) 27 repeat;
        // -webkit-border-image: url(http://www.w3.org/TR/css3-background/border.png) 27 repeat;
        // -o-border-image: url(http://www.w3.org/TR/css3-background/border.png) 27 repeat;
        // border-image: url(http://www.w3.org/TR/css3-background/border.png) 27 fill repeat;
      }
    }
    div#tagline {
      font-size: 1.125em;
    }
    a#install-plugin {
      @extend .button;
      text-transform: capitalize;
      width: 11rem;
      margin-top: 1.8rem;
      font-size: 1.25rem;
      float: right;
    }
  }
}

h2 {
  @include large-text;
  font-weight: normal;
}




div#body {
  margin-top: 2rem;
  padding-left: 2.6rem;
  width: auto;
  margin-bottom: 0;
  margin-left: auto;
  div.row {
    clear: both;
    div.caption {
      margin: 0;
      display: inline-block; 
      float: left;
      width: 15.625em;
      padding-left: .563rem;
      padding-right: $list-padding;
    }
    div.other {
      margin: 0;
      // clear: left;
      display: inline-block;
      width: auto;
      //overflow: hidden;
      padding-right: $list-padding;
    }
    &.try-it-out {
      color: white;
      background-color: $black;
      padding-top: .5rem;
      height: 6.6rem;
      .caption {
        @extend .tar;
        position: relative;
        left: -1em;
      } 
      .other {
        font-size: 1em;
        form {
          input[type=text] {
            padding-left: .7em;
            margin-right: 1em;
            width: 32em;
          }
        }
      }
    }
    &.how-it-works {
      height: 15.8rem;
      color: $green-grey;
      div.other {
        .step {
          padding-right: 4em;
          float: left;
          h2 {
            color: red;
          }
        }
      }
    }
    &.contribute {
      background-color: $green-grey;
      height: 7.5rem;
      .caption {
        color: $off-white;
        h2 {
          margin: 3rem 0 0 0;
          padding: 0;
          // top: 40%;
        }
      }
      .other {
        form {
          margin-top: .9rem;
          input[type=text] {
            margin: 1.3em 0 0 0;
            width: 19.5rem;
            &#mapping_bad_phrase {
              margin-right: $list-padding;
              color: $green-grey;
              text-decoration: line-through;
              text-align: right;
            }
            &#mapping_good_phrase {
              color: $red;
            }
          }
        }
      }
    }

    &.submissions {
      padding-top: 1.5rem;
      .caption {
        h2 {
          margin: 0;
        }
        color: $green-grey;
      }
      .other {
        dl#submissions_list {
          margin: 0;
          width: 42rem;
          dt,dd {
            border-top: 1px solid $grey;
            width: 19.8rem;
            font-family: $bitter-italic;
            margin: 0;
            line-height: 2em;
            // clear: left;
            &:last-of-type {
              border-bottom: 1px solid $grey;
            }
          }
          dt {
            padding-left: 0;
            text-align: right;
            float: left;
            color: $green-grey;
            text-decoration: line-through;
            margin-right: 2rem;
            display: inline-block;
          }
          dd {
            padding-right: 0;
            text-align: left;
            // clear: left;
            color: $red;
            display: inline-block;
          }
        }
      }
    }

    &.buffer {
      height: 4rem;
      background-color: yellow; /* to show its not working */
      background-image: image-url("happy_pattern.jpg");
      margin-top: 2rem;
    }

    &.about,&.press {
      background-color: $red;
      color: $off-white;
      height: 8rem;
      border-bottom: 2px solid $off-white;
    }

    &.about {
      margin-top: -4px !important;
      .caption {
        h2 {
          margin-top: 2.5rem;
        }
      }
      .other {
        .content {
          width: 42rem;
          margin-top: 3rem;
          a {
            color: white;
          }
        }
      }
    }

    &.press {
      margin-top: -2px !important;
    }

  }
}

.clear {
  clear: both;
}